* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightyellow;
}

nav {
    background-color: skyblue;
}

ul {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: flex-end;
    margin-right: 100px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: x-large;
    margin: 5px, 15px;
    color: white;
}

a:hover {
    color: tomato;
    font-size: 30px;
    transition: 5s;
    cursor: pointer;
} 

.logo img{
    height: 50px;
    margin-left: 100px;
}

.contenedor {
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

banner {
    max-width: 150px;
    margin: 0 auto;
}


.banner img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.banner img:hover {
    transform: scale(1.0.5);
    transition: 1s;
}

/* Un rem se relaciona directamente con el font size o de 16 pixeles */
/* Las unidades rem dependen del HTML mientras que las unidades em no toman en cunta la unidad patron de raiz, sino del padre. */