

* {
    font-size: 1rem;
}


body{
    background-color: rgb(195, 135, 75);
}

h1 {
    color: maroon;
    margin-left: 40px;
}

p {
    color: blueviolet;
}

p.aviso {
    color: black;
}

div.li {
    border: red 3px solid;
    margin: 10px;
    padding: 10px;
}

div.p {
    color: red;
}

div.nuevo {
    color: aqua;
}
