* {
    font-size: xx-large;
}

body {
    width: 800px;
}

header {
    background-color: yellow;
    height: 200px;
    width: auto;
}

main {
    display: flex;
    align-items: center;
    background-color: mediumseagreen;
    height: autopx;
    width: 500px;
}

aside {
    background-color: blue;
}

footer {
    background-color: tomato;
    width: auto;
    height: 50px;
}

.cuadro {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: deeppink;
}